$primary: #e2272f;
$secondary: #131921;
$headingColor: #e2272f;
$textColor: #00235a;
$bgColor: #f2f5f9;
@mixin min($value) {
  @media screen and (min-width: ($value + "px")) {
    @content;
  }
}
@mixin max($value) {
  @media screen and (max-width: ($value + "px")) {
    @content;
  }
}
